<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="scheduleDao">

	
	<select id="selectDate" resultType="com.java.main.bo.ScheduleBo">
	SELECT 
     date_format(date_add(now(), interval -1 day), '%Y%m%d') as yesterday
    ,date_format(now(), '%Y%m%d') as today
    ,date_format(date_add(now(), interval 1 day), '%Y%m%d') as tomorrow
    ,date_format(now(), '%H') as currentHour
    FROM DUAL
	</select>


    <select id="selectSchedule" resultType="com.java.main.bo.ScheduleBo">
	<![CDATA[ /* [scheduleDao.xml] selectSchedule */ ]]>
		SELECT 
			value as job
		FROM schedule
		WHERE date = #{today}
	</select>

</mapper>
