<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminDao">


    <select id="selectOneAdmin" resultType="com.java.main.bo.AdminBo">
	<![CDATA[ /* [adminDao.xml] selectOneAdmin */ ]]>
	
	SELECT
		name as name,
		use_yn as useYn
	FROM admin
	WHERE id = #{id}
	AND password = #{password}
	</select>
	
	   <select id="selectCharacterList" resultType="com.java.main.bo.CharacterBo">
	<![CDATA[ /* [adminDao.xml] selectCharacterList */ ]]>
	
	SELECT
		character_id as characterId,
		character_name as characterName
	FROM character_info
	order by character_id
	</select>

</mapper>
